<h4>Select the favourite you would like to add tot he project.</h4>
<br/>

<table style="width:100%">
  <thead style="background-color: #555;color:#fff;">

     <th width="400">Name</th>
     <th width="400">Description</th>
     <th width="400">Market</th>
     <th width="400">Selling Price</th>
     <th width="200"></th>
     <th width="200"></th>
  </thead>
<br/>
  <tbody>
<tr style="background-color: #e5e5e5;">
  <td width="400">Ladies Bathroom</td>
  <td width="400">Standard 5 cubicle bathroom</td>
  <td width="400">Medical</td>
  <td width="400">R 30 800</td>
  <td width="200"> <button type="button" class="btn btn-default btn-sm">Add</button></td>
  <td width="200"> <button type="button" class="btn btn-default btn-sm">Delete</button></td>

</tr>
  <tr>
    <td width="400">Imported ladies Bathroom</td>
    <td width="400">Imported ceramics and tiles</td>
    <td width="400">Hospitality</td>
    <td width="400">R 81 800</td>
    <td width="200"> <button type="button" class="btn btn-default btn-sm">Add</button></td>
    <td width="200"> <button type="button" class="btn btn-default btn-sm">Delete</button></td>
  </tr>
  <tr style="background-color: #e5e5e5;">
    <td width="400" width="400" >Male Bathroom</td>
    <td width="400">Standard mens bathroom</td>
    <td width="400">Hospitality</td>
    <td width="400">R 20 800</td>
    <td width="200"> <button type="button" class="btn btn-default btn-sm">Add</button></td>
    <td width="200"> <button type="button" class="btn btn-default btn-sm">Delete</button></td>

  </tr>
  </tbody>

</table>
